.website {
  display: flex;
  flex-direction: row;
  max-height: cover;
  max-width: 100%;
}
.website_image {
  flex: 3;
  width: fit-content;
}
.website_logo {
  margin-top: 30px;
  max-width: 100%;
  height: 10vh;
  max-height: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 55px;
}

.login_buttonDetails {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  top: 30px;
  margin-left: 700px;
  gap: 10px;
  color: white;
  align-items: center;
}
.website_data {
  margin-top: 0px;
  margin-bottom: 0px;
  flex: 1;
}
.reset_passwordData {
  margin-left: 30px;
  padding: 25px 0;
  margin: 20px 20px;
}

.inputDetails {
  display: flex;
  flex-direction: column;
  padding: 20px;
  line-height: 35px;
  border-radius: 8px;
}

.forward_details {
  margin-left: 20px;
  padding-top: 5px;
}
.login_Button {
  background: #002e83;
  font-weight: normal;
  border-radius: 5px;
  width: 100px;
  padding: 8px;
  color: white;
  font-weight: 600;
}
.submit_button{
  background: #19a0da!important;
  color: white;
  height: 45px;
  width: 90px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 1000;
  font-size: x-small;
align-items: center;
border-color: #19a0da;
}


.login_text{
  width: 100px;
  font-size: small;
}

.validate_message{
  color: red;
  font-size: 12px;
  margin-left: 20px;
  margin-bottom: 10px;
}